{% extends "navbar.html" %}
{% load static %}
{% block title %}
Create User Profile
{% endblock %}


{% block content %}
<h1>Create User Profile</h1>
<form method="post">
    {% csrf_token %}
    Email: <input type="text" name="email"><br>
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Profile Picture:  <input type="file" name="image">
    {% comment %} <input type="submit" value="Upload Image"> {% endcomment %}
    {% comment %} <input type="text" name="profile_picture"><br> {% endcomment %}
    Professional Background: <input type="text" name="professional_background"><br>
    Social Media: 
    <br>
    Instagram: <input type="text" name="instagram"><br>
    Facebook Link: <input type="text" name="facebook"><br>
    Interests: <input type="text" name="interests"><br>
    Email Visibility: <input type="text" name="email_visibility"><br>
    <button type="submit">Submit</button>
</form>
{% endblock %}
