{% extends "navbar.html" %}

{% block title %}
Edit User Profile
{% endblock %}

{% block content %}
<h1>Edit User Profile</h1>
<button type="button" onclick="goBack()">Back</button>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  First Name: <input type="text" name="first_name"><br>
  Last Name: <input type="text" name="last_name"><br>
  Profile Picture:  <input type="file" name="profile_picture"><br>
  Professional Background: <input type="text" name="professional_background"><br>
  Social Media: <br>
  Instagram: <input type="text" name="instagram"><br>
  Facebook Link: <input type="text" name="facebook"><br>
  Interests: <input type="text" name="interests"><br>
  Email Visibility: <input type="text" name="email_visibility"><br>
  <button type="submit">Submit</button>
  <!-- Adding the back button -->
</form>

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
