{% extends "navbar.html" %}
{% load static %}
{% block title %}
Profile
{% endblock %}


{% block content %}
<style>
  .like-icon-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit; 
  }

  .like-icon-btn i {
    color: #007bff;
  }
  .dislike-icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit; /* Adjust font size if necessary */
  }

  /* Style the icon to your liking */
  .dislike-icon-btn i {
  color: #dc3545; 
  }

  .comment-icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit; /* Adjust font size if necessary */
  }

  /* Style the icon to your liking */
  .comment-icon-btn i {
  color: #ffc107; /* Change the color of the icon */
  }

</style> 
<div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px">
  <h1> Logged in as: {{ request.user.username}} </h>
  <h1> Logged in as: {{ request.user.email}} </h>
  <h1> Logged in as: {{ request.user.id}} </h>
        
<a href="{% url 'edit_profile' %}">Edit</a>
<a href="{% url 'create_event' %}">Create Event</a>
<a href="{% url 'account_logout' %}">Logout</a>
<a href="../google/login/?process=login">Signup</a>
<br>

<h2>Create Group Date</h2>
  <form method="post" enctype="multipart/form-data" name="create_group_date" id="create_group_date">
    {% csrf_token %}
    
    {% comment %} <label for="creator_id">Creator ID:</label> {% endcomment %}
    {% comment %} <input type="text" id="creator_id" name="creator_id" required><br> {% endcomment %}

    <label for="title">Title:</label>
      <input type="text" id="title" name="title" required><br>
    <label for="picture">Picture:</label>
      <input type="file" id="image" name="image"><br>
    <label for="about_date">About Date:</label>
      <textarea id="about_date" name="about_date" rows="4" cols="50"></textarea><br>
      <label for="type">Single or Group Date:</label>
      <select id="type" name="type">
          <option value="Single">Single</option>
          <option value="Group">Group</option>
      </select><br>
    <label for="specifications">Specifications:</label>
      <textarea id="specifications" name="specifications" rows="4" cols="50"></textarea><br>
    <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date" required><br>
    <label for="start_time">Start Time:</label>
      <input type="time" id="start_time" name="start_time" required><br>
    <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date" required><br>
    <label for="end_time">End Time:</label>
      <input type="time" id="end_time" name="end_time" required><br>
    <label for="maxParticipants">Max Participants:</label>
      <input type="number" id="maxParticipants" name="maxParticipants" required><br>

    <!-- You can add more input fields for other attributes as needed -->
    <label for="privacy">Choose who you want to see your Date:</label>
      <select id="privacy" name="privacy">
          <option value="friends">Friends/Connections</option>
          <option value="public">Public</option>
      </select><br>
    <input type="hidden" name="action" value="create_group_date">
    <input type="submit" value="Create Group Date">
  </form>


<h1>User Information</h1>
<ul>
  <li><strong>First Name:</strong> {{user_information.first_name}}</li>
  <li><strong>Last Name:</strong> {{user_information.last_name}}</li>
  <li><strong>Email:</strong> {{user_information.email}}</li>
  <li><strong>Email Visibility:</strong> {{user_information.email_visability}}</li>
  <li><strong>Professional Background:</strong> {{user_information.profession_background}}</li>
  <li><strong>Social Media:</strong> 
    <ul>
      {% for platform in user_information.social_media %}
          <li>{{ platform }}</li>
      {% endfor %}
    </ul>
  </li>
  <li><strong>Interests:</strong></li>
  <ul>
      {% for platform in user_information.interests %}
        <li>{{ platform }}</li>
      {% endfor %}
  </ul>
  <li><strong>Profile Picture:</strong> 
    <img src="{{user_information.profile_picture}}" class="w3-circle" style="height: 106px; width: 106px" alt="Avatar"/>
  </li>
</ul>
<!-- In your home.html template -->

<div class="w3-col m7">
  <div class="w3-row-padding">
    <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <h6 class="w3-opacity">Create a new Post</h6>
                <form method="post" enctype="multipart/form-data" name="add_post" id="add_post_form">
                  {% csrf_token %}
                  <textarea id="comment" name="comment" rows="4" cols="50" class="w3-border w3-padding" placeholder="Write something..."></textarea>
                  <label for="picture">Picture:</label>
                  <input type="file" id="picture" name="picture"><br>
                  <input type="hidden" name="action" value="add_post">
                  <button type="submit" class="w3-button w3-theme">
                    <i class="fa fa-pencil"></i>  Post
                  </button>
                </form>
            </div>
        </div>
    </div>
  </div>

  <!--The Create Post Section Ends here -->
  {% if profile_posts %}
    {% for post in profile_posts %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
    <br />
    <img
      src="/w3images/avatar2.png"
      alt="Avatar"
      class="w3-left w3-circle w3-margin-right"
      style="width: 60px"
    />
    <span class="w3-right w3-opacity">1 min</span>
    <h4>John Doe</h4>
    <br />
    <hr class="w3-clear" />
    <p>{{ post.post_content }}</p>
    {% if post.post_image_url %}
    <div class="w3-row-padding" style="margin: 0 -16px">
      <div class="w3-half">
        <img
          src="{{ post.post_image_url }}"
          style="width: 100%"
          alt="Post Image"
          class="w3-margin-bottom"
        />
      </div>
    </div>
    {% endif %}
    <div class="w3-row-padding" style="margin: 0 -16px">
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="like">
        <input type="hidden" name="post_id" value="{{ post.id }}">

        <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom">
          <i class="fa fa-thumbs-up"></i> Agree
        </button>
      </form>
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="dislike">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom">
          <i class="fa fa-thumbs-down"></i> Disagree
        </button>
      </form>
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="comment">
        <input type="hidden" name="post_id" value="{{ post.id }}">

        <button type="submit" class="w3-button w3-theme-d2 w3-margin-bottom">
          <i class="fa fa-comment"></i> Comment
        </button>
      </form>
    </div>
    </div>

    {% endfor %}
  {% else %}
  <p>No posts found</p>
  {% endif %}
  

</div>
  

{% endblock content %}
